* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1440px;
}

#header {
  width: 100%;
  margin: auto;
  background-image: url(./imgs/bg-hero-desktop.svg);
  background-position: center;
  background-size: cover;
  background-color: hsl(213, 100%, 98%);
  margin-bottom: 10em;
}

nav {
  display: flex;
  padding: 3% 6%;
  justify-content: space-between;
}
.img {
  width: 200px;
}
nav .try {
  text-decoration: none;
  color: hsl(192, 100%, 9%);
  background-color: white;
  font-weight: 700;
  padding: 10px 35px;
  border-radius: 130px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.55);
}
nav .try:hover {
  transition: 0.3s;
  background-color: transparent;
  border: 2px solid hsl(192, 100%, 9%);
  color: hsl(192, 100%, 9%);
}

.contain {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2% 6%;
 
}
.col{
  flex-basis: 50%;
  min-width: 400px;

}
.col img{
  padding-top: 30px;
}
h1 {
  color: hsl(192, 100%, 9%);
  font-family: "Poppins", sans-serif;
  font-size: 1.6em;
  line-height: 40px;
  padding-top: 1em;
  padding-bottom: 1em;
}
p {
  color: hsl(192, 100%, 9%);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 22px;
  padding-right: 20px;
  padding-bottom: 2.5em;
}
.contain img {
  width: 35em;
}
.contain a {
  text-decoration: none;
  background-color: hsl(322, 100%, 66%);
  color: white;
  font-weight: 400;
  padding: 10px 35px;
  border-radius: 130px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.55);
}
.contain a:hover {
  transition: 0.3s;
  background-color: transparent;
  border: 2px solid hsl(322, 100%, 66%);
  color: hsl(322, 100%, 66%);
}

/*---grow--*/
#grow {
  width: 100%;
  margin: auto;
  padding-top: 0.1em;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 2% 6%;
  padding: 5% 6%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
}

.grow-col{
  flex-basis: 50%;
  min-width: 350px;
}
.grow-col img{
  width: 100%;
  padding: 20px;
}
.row h2 {
  color: hsl(192, 100%, 9%);
  font-family: "Poppins", sans-serif;
  font-size: 1.6em;
  line-height: 40px;
  padding-top: 3em;
  padding-bottom: 1em;
}
.row p {
  color: hsl(192, 100%, 9%);
  font-family: "Poppins", sans-serif;
  line-height: 22px;
  text-align: left;
}


/*---flow--*/
#flow {
  width: 100%;
  margin: auto;
  padding-top: 0.1em;
}

#flow h2 {
  color: hsl(192, 100%, 9%);
  font-family: "Poppins", sans-serif;
  font-size: 1.6em;
  line-height: 40px;
  padding-top: 3em;
  padding-bottom: 1em;
  padding-left: 30px;
}

#flow p {
  color: hsl(192, 100%, 9%);
  font-family: "Poppins", sans-serif;
  line-height: 22px;
  padding-left: 30px;
}
.flow img {
  width: 23em;
}
.flow-col{
  flex-basis: 50%;
  min-width: 350px;
}
.flow-col img{
  width: 100%;
}

/*---Users---*/
#user {
  width: 100%;
  margin: auto;
  padding-top: 0.1em;
}

#user h2 {
  color: hsl(192, 100%, 9%);
  font-family: "Poppins", sans-serif;
  font-size: 1.6em;
  line-height: 40px;
  padding-top: 3em;
  padding-bottom: 1em;
}

#user p {
  color: hsl(192, 100%, 9%);
  font-family: "Poppins", sans-serif;
  line-height: 22px;
}
.user-col{
  flex-basis: 50%;
  min-width: 350px;
}
.user-col img{
  width: 100%;
}

/*-----Ready----*/
#ready {
  width: 80%;
  margin: 110px auto;
  padding-top: 0.1em;
  padding: 22px 0;
  text-align: center;
  position: relative;
}

.ready {
  position: absolute;
  margin: 3% 16%;
  width: 80%;
  left: -50px;
  top: 40px;
  padding: 4em 6em;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
}

.ready h1 {
  color: hsl(192, 100%, 9%);
  font-family: "Poppins", sans-serif;
  font-size: 1.6em;
  line-height: 40px;
  padding: 0;
  padding-bottom: 1em;
}

.ready a {
  text-decoration: none;
  background-color: hsl(322, 100%, 66%);
  color: white;
  font-weight: 400;
  padding: 10px 35px;
  border-radius: 130px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.55);
}
.ready a:hover {
  transition: 0.3s;
  background-color: transparent;
  border: 2px solid hsl(322, 100%, 66%);
  color: hsl(322, 100%, 66%);
}

/*---footer---*/
#footer {
  width: 100%;
  margin: auto;
  padding-top: 0.1em;
  background-color: hsl(192, 100%, 9%);

  margin-top: 10em;
}

.fcontain {
  padding: 5% 6%;
 
}

.fcontain path {
  fill: white;
}
small {
  color: hsl(193, 100%, 96%);
}
.foot1 div {
  padding-bottom: 2em;
}
.foot {
  padding-top: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.foot1 img {
  padding-right: 1em;
}
.foot1 small {
  text-align: left;
}
ul li {
  list-style: none;
  display: block;
}
ul li a {
  text-decoration: none;
  color: hsl(193, 100%, 96%);
  line-height: 40px;
}
.box4 ul li {
  display: inline-block;
  padding: 6px 10px;
}
.box4 path {
  fill: hsl(193, 100%, 96%);
}
.box4 path:hover {
  fill: hsl(322, 100%, 66%);
  transition: 0.3s;
}
.box1 div{
  display: flex;
  align-items: center;
}

.foot1,
.foot2,
.foot3,
.foot4 {
  min-width: 250px;
  flex-basis: 20%;
}
.foot1{
  margin-right: 2px;
}
.foot1 .small1{
  padding-top: 40px;
}

.foot2,
.foot3,
.foot4 {
  margin-top: -3em;
}



.copy {
  float: right;
}
@media only screen and (max-width: 770px) {
  /*---header---*/
  #header {
    height: 100vh;
    background-image: url(./imgs/bg-hero-mobile.svg);
    background-position: center;
    background-size: cover;
    background-color: hsl(213, 100%, 98%);
    margin-bottom: 10em;
  }
  nav{
    padding: 5% 6%;
  }
  nav .img {
    width: 160px;
  }
  .contain {
    text-align: center;
  }
 
  h1 {
    font-size: 1.3em;
    line-height: 30px;
    padding-top: 2em;
  }
  .contain img {
    margin-top: 1em;
    width: 23em;
  }
  p {
    font-size: 13px;
    padding: 0 20px;
    margin-bottom: 2em;
  }
  .contain p {
    font-size: 13px;
    padding: 0 37px;
    margin-bottom: 2em;
  }
  .contain a {
    font-weight: 400;
    font-size: 12px;
    padding: 6px 25px;
  }
  nav .try {
    padding: 5px 15px;
  }

  .row-1{
    display: grid;
    grid-template-areas: 
      "a"
      "b"
    ;
    gap: 20px;
    text-align: center;
  }
  .col-1{
    grid-area: b;
  }
  .col-2{
    grid-area: a;
  }
  /*---grow---*/
  .grow-col p{
    text-align: center;
  }
  
  /*---flow---*/
  .flow-col h2{
    text-align: center;
  }
  .flow-col p{
    text-align: center;
  }
  
  /*---user----*/
  .user-col p{
    text-align: center;
  }


  /*---ready---*/
  #ready {
    margin: 10px auto;
    padding: 16px 0;
  }
  .ready {
    top: 4em;
    position: absolute;
    left: -41px;
    width: 90%;
    padding: 1.5em 0;
    padding-bottom: 2em;
  }

  .ready h1 {
    color: hsl(192, 100%, 9%);
    font-family: "Poppins", sans-serif;
    font-size: 1.3em;
    line-height: 30px;
    padding: 20px 35px;
  }

  .ready a {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 25px;
  }



 /*---footer---*/

 .foot {
  text-align: left;
}
.foot1 div {
  padding-bottom: 1em;
}
.foot1 .small1 {
  padding-top: 0.7em;
}
ul li a {
  line-height: 35px;
}

.foot2,.foot3{
  margin-top: 20px;
}

.fcontain .copy {
  float: left;
  padding-left: 20%;
  padding-top: 1em;
}
.foot4 {
  margin: auto;
  display: inline-block;
  padding-top: 0.5em;
  padding-left: 45px;
}


}
